@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: dodgerblue">
    <h1 style="color: honeydew; font-family: Verdana; font-size: 42px">Your MPG</h1>
    <p style="color: whitesmoke; font-family: Verdana">Welcome to a better way of saving money! A new way to monitor your vehicle! Welcome to the new you!</p>
    <img src="~/Content/tenor.gif" alt="GasMeter" width="1000" height="400">
    
</div>

<div class="row">
    <div class="col-md-4" style="column-gap: 100px">
        <h2 style="font-family: Verdana">See current MPG tracking</h2>
        <p style="font-family: Verdana">
            Have a summary point of view on you and your friend's MPG.
        </p>
        <p><a class="btn btn-default" href="http://localhost:53856/Friends/Index">Learn more &raquo;</a></p>
    </div>
    <div class="media-right">
        <h2 style="font-family: Verdana">Add new data into your tracking system.</h2>
        <p>See a user friendly approach to adding data</p>
        <p style="font-family: Verdana"><a class="btn btn-default" href="http://localhost:53856/Friends/Create">Learn more &raquo;</a></p>
    </div>
</div>